{% extends 'base.html' %}

{% block head %}
    {{block.super}}

    <style>
        .nfo{
            cursor:pointer;
            color:blue;
        }
        
        pre, pre * {
            font-size:10px;
            font-family:monospace;
            line-height:10px;
            height:400px;
            overflow: auto;
        }
        
        div.pagination {
            margin:10px
        }
        
        a.pagination { 
            border: 1px solid #3a76f1;
            padding: 2px 4px 2px 4px;
        }

        .current_page {
            color:white;
            background-color:#3a76f1;
            border: 1px solid blue;
            padding: 2px 4px 2px 4px;
            font-style:bold;
        }

        a.pagination:link { 
            color:#3a76f1; 
            text-decoration:none;
        }
        a.pagination:visited           { color:#3a76f1; text-decoration:none; }
        a.pagination:hover             { 
            color:black; 
            text-decoration:none; 
            border-color:black;
        }
        a.pagination:active            { color:#3a76f1; text-decoration:none;}

        #page_jump {
            width:2.9em;
            margin-left:3px;
            margin-right:3px;
        }
    </style>
    
    <script type="text/javascript">
        $(document).ready(function()
        {
           $('.nfo').each(function(){
            
                id = this.parentNode.id.substring(2);
            
                $(this).qtip({
                    title:'NFO',
                    content: {
                       url: '/nfo/',
                       data: { id: id},
                       method: 'get'
                    },
                    style: { 
                        name: 'dark', // Inherit from preset style
                        width:540,
                        border:{
                            radius:5,
                            width:10
                        }
                    },
                    position: {
                        corner: {
                            target: 'leftMiddle',
                            tooltip: 'rightMiddle'
                        }
                    },
                    hide:{fixed:true}
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a class="pagination" href="?page={{ posts.previous_page_number }}"><<</a>
            {% endif %}

            <span class="current">
                {% for section in pages %}
                    {% if section %}
                        {% if not forloop.first %}...{% endif%}
                        {% for page in section %}
                            {% ifequal page posts.number %}
                                <span class="current_page">{{page}}</span>
                            {% else %}
                                <a class="pagination " href="?page={{ page }}">{{page}}</a>
                            {%endifequal%}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </span>

            {% if posts.has_next %}
                <a class="pagination" href="?page={{ posts.next_page_number }}">>></a>
            {% endif %}
        </span>
    </div>

    <table>
        <tr>
            <th>Subject</th>
            <th></th>
            <th></th>
        </tr>
    
        {% for post in posts.object_list %}
            <tr id="p_{{post.id}}">
                <td>{{post.subject}}</td>
                <td class="nfo">NFO</td>
                <td><a href="/nzb/{{post.id}}/">NZB</a></td>
            </tr>
        {% endfor %}
    <table>
        
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a class="pagination" href="?page={{ posts.previous_page_number }}"><<</a>
            {% endif %}
            <span class="current">
                {% for section in pages %}
                    {% if section %}
                        {% if not forloop.first %}...{% endif%}
                        {% for page in section %}
                            {% ifequal page posts.number %}
                                <span class="current_page">{{page}}</span>
                            {% else %}
                                <a class="pagination " href="?page={{ page }}">{{page}}</a>
                            {%endifequal%}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </span>

            {% if posts.has_next %}
                <a class="pagination" href="?page={{ posts.next_page_number }}">>></a>
            {% endif %}
        </span>
    </div>
{% endblock %}